{% extends "paginas/layout.html" %}

{% block content %}

<div class="coluna">
	<h2>PLANTIO</h2>
	<p>Cras eu turpis ac arcu vestibulum lobortis interdum sed nunc. Donec id ultricies velit. Quisque in justo odio.
		Morbi arcu ante, maximus venenatis mauris at, feugiat egestas justo. Nulla sed erat sem. Quisque suscipit congue
		bibendum.</p>
	<p>Quisque in justo odio. Morbi arcu ante, maximus venenatis mauris at, feugiat egestas justo. Nulla sed erat sem.
		Quisque suscipit congue bibendum.Cras eu turpis ac arcu vestibulum lobortis interdum sed nunc. Donec id
		ultricies velit.
		<a href="{{ url_for('plantio') }}">Leia mais.</a>
	</p>
	<img src="{{ url_for('static', filename='img/plantio_cafe.jpg') }}">
</div>

<div class="coluna">
	<h2>BEBIDA</h2>
	<p>Cras eu turpis ac arcu vestibulum lobortis interdum sed nunc. Donec id ultricies velit. Quisque in justo odio.
		Morbi arcu ante, maximus venenatis mauris at, feugiat egestas justo. Nulla sed erat sem. Quisque suscipit congue
		bibendum.
		<a href="{{ url_for('bebida') }}">Leia mais.</a>
	</p>
	<img src="{{ url_for('static', filename='img/bebida_cafe.jpg') }}">
</div>

<div class="coluna">
	<h2>GRÃOS</h2>
	<p>Quisque suscipit congue bibendum.Cras eu turpis ac arcu vestibulum lobortis interdum sed nunc. Donec id ultricies
		velit. Quisque in justo odio. Morbi arcu ante, maximus venenatis mauris at, feugiat egestas justo. Nulla sed
		erat sem. Quisque suscipit congue bibendum.Cras eu turpis ac arcu vestibulum lobortis interdum sed nunc. Donec
		id ultricies velit.
		<a href="{{ url_for('graos') }}">Leia mais.</a>
	</p>
	<img src="{{ url_for('static', filename='img/graos_cafe.jpg') }}">
</div>

{% endblock %}